﻿
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/fileinput.js"></script>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 panel panel-default">
        <div class="panel-body">
            <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
                <input id="input-b1" name="input-b1" type="file" class="file" />
                <input id="input-b2" name="input-b2" type="file" class="file" />
                
                
                <a href="javascript:;" class="mfile">
                    选择文件
                    <input  name="input-b3" type="file"   id="">
                </a>
                

                <input type="submit" value="保存" />
            </form>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".file").each(function () {
            this.previousElementSibling.innerText = "浏览";
        });

    });
    $(".file").fileinput({
        language: "zh",
        showUpload: false, //不显示上传按钮
        showPreview: false, //不显示预览按钮
        showRemove: false //不显示删除按钮
    });
</script>