﻿@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/fileinput.js"></script>
<style>
    .ryfile {
        position: relative;
        display: inline-block;
        background: #3299FF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

        .ryfile input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .ryfile:hover {
            background: #3299FF;
            border-color: #78C3F3;
            color: #fff;
            text-decoration: none;
        }
</style>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 panel panel-default">

        <div class="panel-body">

            <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
                <a href="javascript:;" class="ryfile">
                    浏览
                    <input type="file" name="invoice" id="">
                </a>

                <a href="javascript:;" class="wtsinfo">
                    浏览
                    <input type="file" name="file2" id="">
                </a>

                <input type="submit" value="保存" />
            </form>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".file").each(function () {
            this.previousElementSibling.innerText = "浏览";
        });

    });
    function uploadBro() {
        $("#importbudgetinfo").trigger("click");
        $("#importbudgetinfo").on('fileselect',
            function (event, numFiles, label) {
                $("#importbudgetinfo").fileinput("upload");
            });

    }
</script>