﻿@{
    ViewBag.Title = "Index";
}

<h2>用户信息</h2>

@using (Html.BeginForm("GetParams", "Home", FormMethod.Post, new { @onsubmit = "return AjaxSubmit();" }))
{
    <table class="table table-bordered text-center" >
        <tr>

            <td>Name</td>
            <td>Age</td>
            <td>BirthDay</td>
        </tr>
        <tbody id="tbPerson">

            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td>
                        <input class="form-control" type="text" name="Name" id="list[@i].Name" value="王 @i ">
                    </td>
                    <td>
                        <input class="form-control" type="text" name="Age" id="list[@i].Age" value="@(20 + i)" />
                    </td>
                    <td>
                        <label name="BirthDay" id="list[@i].BirthDay">@DateTime.Now.AddYears(-10 - i)</label>
                    </td>
                </tr>
            }
        </tbody>

        <tr>
            <td colspan="3">
                <input type="submit" id="btnSubmit" class="btn btn-success" value="提交用户信息" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $("#btnSubmit").on("click", Submit);

    function Submit() {
        var persons = [];
        debugger;
        $("#tbPerson").find("tr").each(function () {
            debugger;
            persons.push({
                Name: $(this).find("input[name='Name']").val(),
                Age: $(this).find("input[name='Age']").val()
            });
        });

        $.ajax({
            url: "/Home/GetParams",
            type: "post",
            contentType: 'application/json',
            data: JSON.stringify(persons),
            success: function (res) {

            }
        });
        return false;
    }
</script>