﻿@{
    ViewBag.Title = "Items";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#userName").keyup(function () {
            console.log(this.value);
            GetList();
        });
    });

    function GetList() {
        $.ajax({
            url: "/Home/GetList",
            data: {
                finder: $("#userName").val()
            },
            type: "post",
            dataType: "json",
            success: function (res) {
                $("#listusers").empty();
                if (res.Success) {
                    for (var i = 0; i < res.Data.length; i++) {
                        $("#listusers").append('<option value="' + res.Data[i].Name + '">');
                    }
                }
            }
        });
    }
</script>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <input list="listusers" id="userName" />
    <datalist id="listusers"></datalist>
</div>