﻿@model WebMvcParams.Controllers.LogOnModel

<h2>title</h2>

<form action="/Account/LogOn" method="post">
    <input type="text" id="UserName" name="UserName" value="admin">
    <input type="text" id="Password" name="Password" value="123456">
    <input type="hidden" value="xxxxxxxxxx" name="returnUrl">
    <input type="submit" value="登录">
</form>